@charset "UTF-8" ;

/*----------------------------------------
 contents
-----------------------------------------*/

#contents .title {
	padding: 5px 0 0 8px;
	font-size: 24px;
	line-height: 100%;
	border-left: #5976BA solid 3px;
	border-bottom: #CCC solid 1px;
}

#contents .sub_title {
	padding: 0 0 0 3px;
	margin: 20px 0 5px 0;
	font-size: 18px;
	line-height: 100%;
	border-bottom: #5976BA solid 1px;
}

/*----------------------------------------
 contents-top
-----------------------------------------*/

#contents-top ul {
}

#contents-top .title {
	font-size: 35px;
	text-align: center;
	line-height: 1.5;
	padding: 130px 0 0;
}

#contents-top .sub_title {
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
}

/*----------------------------------------
 contents-menu
-----------------------------------------*/

#contents-menu ul li a {
  padding: 8px;
	text-decoration: none;
	display: block;
}

#contents-menu ul li {
	height: 300px;
	background-color: #FFF;
	transition: .8s;
}

#contents-menu ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#contents-menu ul li img {
	width: 100%;
	max-width: 100%;
	height: auto;
	opacity: 1;
}

#contents-menu ul li:hover img {
	opacity: .5;
}

/*----------------------------------------
 column
-----------------------------------------*/

ul:after {
  content: "";
  clear: both;
  display: block;
}

ul li {
  float: left;
  list-style-type: none;
}

ul.cols-1 li {
  width: 100%;
}

ul.cols-2 li {
  width: 48%;
	margin: 0 4% 0 0;
}

ul.cols-2 li:nth-child(2n) {
  margin: 0;
}

ul.cols-3 li {
  width: 31.33333%;
	margin: 0 3% 20px 0;
}

ul.cols-3 li:nth-child(3n) {
  margin: 0 0 20px;		
}

ul.cols-4 li {
  width: 23.5%;
	margin: 0 2% 0 0;
}

ul.cols-4 li:nth-child(4n) {
	margin: 0;
}
